html {
    background-color: lightcyan;
    color: teal;
    margin-left: 25%;
    margin-right: 25%;

}

.banner1 {
    color: teal;
    text-align: center;
}

.banner1 .name {
    font-size: 72px;
}

#logo {
    border-radius: 25%;
}

h4 {
    font-size: 36;
}

table {
    width: auto;
    column-width: auto;

}

thead {
    border-bottom: 2px solid blue;
    text-align: center;
    text-transform: uppercase;
}

th,
td {
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 1px;
    align-content: center;
    word-wrap: normal;
}

.common,
.professional {
    font-size: 18px;
}

#red,
#blue,
#yellow,
#green,
#orange {
    font-size: 36px;
    font-weight: bold;
}

.red-things,
.blue-things,
.yellow-things,
.green-things,
.orange-things {
    list-style: none;
    align-content: center;
    text-align: center;
}

.red-row {
    color: aliceblue;
    background: #d80000;
    background: -webkit-linear-gradient(left, #d80000, #3f0000);
    background: -moz-linear-gradient(left, #d80000, #3f0000);
    background: -ms-linear-gradient(left, #d80000, #3f0000);
    background: -o-linear-gradient(left, #d80000, #3f0000);
    background: linear-gradient(to right, #d80000, #3f0000);
}

.blue-row {
    color: black;
    background: #00f2f2;
    background: -webkit-linear-gradient(left, #00f2f2, #0000ff);
    background: -moz-linear-gradient(left, #00f2f2, #0000ff);
    background: -ms-linear-gradient(left, #00f2f2, #0000ff);
    background: -o-linear-gradient(left, #00f2f2, #0000ff);
    background: linear-gradient(to right, #00f2f2, #0000ff);
}

.yellow-row {
    color: black;
    background: #ffff00;
    background: -webkit-linear-gradient(left, #ffff00, #ffbf00);
    background: -moz-linear-gradient(left, #ffff00, #ffbf00);
    background: -ms-linear-gradient(left, #ffff00, #ffbf00);
    background: -o-linear-gradient(left, #ffff00, #ffbf00);
    background: linear-gradient(to right, #ffff00, #ffbf00);
}

.green-row {
    color: aliceblue;
    background: #00b300;
    background: -webkit-linear-gradient(left, #00b300, #003400);
    background: -moz-linear-gradient(left, #00b300, #003400);
    background: -ms-linear-gradient(left, #00b300, #003400);
    background: -o-linear-gradient(left, #00b300, #003400);
    background: linear-gradient(to right, #00b300, #003400);
}

.orange-row {
    color: aliceblue;
    background: #ffc04d;
    background: -webkit-linear-gradient(left, #ffc04d, #ff7b00);
    background: -moz-linear-gradient(left, #ffc04d, #ff7b00);
    background: -ms-linear-gradient(left, #ffc04d, #ff7b00);
    background: -o-linear-gradient(left, #ffc04d, #ff7b00);
    background: linear-gradient(to right, #ffc04d, #ff7b00);
}