html {
    background-color: lightcyan;
    color: teal;

}

.banner1 {
    color: teal;
    text-align: center;
}

.banner1 .name {
    font-size: 72px;
}

#logo {
    border-radius: 25%;
}

h4 {
    font-size: 36;
}

table {
    width: auto;
    column-width: auto;;
}

thead{
    border-bottom: 2px solid blue;
    text-align: center;
    text-transform: uppercase;            
}

th, td{    
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 1px;
    align-content: center;
    word-wrap: normal;
}

.red-things{
    list-style: none;
}