html {
    background-color: lightcyan;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}

.banner1 {
    color: teal;
    text-align: center;
}

.banner1 .name {
    font-size: 72px;
}

#logo {
    border-radius: 25%;
}

h2 {
    font-size: 48px;
    text-align: center;
}

p {
    text-align: center;
}

/*Red  color scheme*/
.scheme {
    text-transform: uppercase;
    text-align: center;
    align-content: center;
}

#red-scheme {
    color: #7c100e;
}

#red1 {
    background-color: #05f0f0;
    width: 175px;
    height: 175px;
}

#red1 a {
    color: #eef1da;
    text-decoration: none;
}

#red2 {
    background-color: #04bebe;
    width: 175px;
    height: 175px;
}


#red2 a {
    color: #eef1da;
    text-decoration: none;
}

#red3 {
    background-color: #EEF1Da;
    width: 175px;
    height: 175px;
}

#red3 a {
    color: #7c100e;
    text-decoration: none;
}

#red4 {
    background-color: #a70101;
    width: 175px;
    height: 175px;
}

#red4 a {
    color: #EEF1Da;
    text-decoration: none;
}

#red5 {
    background-color: #7c100e;
    width: 175px;
    height: 175px;
}

#red5 a {
    color: #EEF1Da;
    text-decoration: none;
}

/*blue  color scheme*/
#blue1 {
    background-color: #19381f;
    width: 175px;
    height: 175px;
}

#blue1 a {
    color: #c0e0de;
    text-decoration: none;
}

#blue2 {
    background-color: #c3e991;
    width: 175px;
    height: 175px;
}

#blue2 a {
    color: #261ed2;
    text-decoration: none;
}

#blue3 {
    background-color: #994636;
    width: 175px;
    height: 175px;
}

#blue3 a {
    color: #c0e0de;
    text-decoration: none;
}

#blue4 {
    background-color: #c0e0de;
    width: 175px;
    height: 175px;
}

#blue4 a {
    color: #261ed2;
    text-decoration: none;
}

#blue5 {
    background-color: #261ed2;
    width: 175px;
    height: 175px;
}

#blue5 a {
    color: #c0e0de;
    text-decoration: none;
}

/*yellow color scheme*/
#yellow1 {
    background-color: #ffff00;
    width: 175px;
    height: 175px;
}

#yellow1 a {
    color: #38761d;
    text-decoration: none;
}

#yellow2 {
    background-color: #b45f06;
    width: 175px;
    height: 175px;
}

#yellow2 a {
    color: #ffff00;
    text-decoration: none;
}

#yellow3 {
    background-color: #38761d;
    width: 175px;
    height: 175px;
}

#yellow3 a {
    color: #ffff00;
    text-decoration: none;
}

#yellow4 {
    background-color: #9fc5e8;
    width: 175px;
    height: 175px;
}

#yellow4 a {
    color: #ffff00;
    text-decoration: none;
}

#yellow5 {
    background-color: #8fce00;
    width: 175px;
    height: 175px;
}

#yellow5 a {
    color: #ffff00;
    text-decoration: none;
}

/*green color scheme*/
#green1 {
    background-color: #ffffcc;
    width: 175px;
    height: 175px;
}

#green1 a {
    color: #014421;
    text-decoration: none;
}

#green2 {
    background-color: #669966;
    width: 175px;
    height: 175px;
}

#green2 a {
    color: #ffffcc;
    text-decoration: none;
}

#green3 {
    background-color: #014421;
    width: 175px;
    height: 175px;
}

#green3 a {
    color: #ffffcc;
    text-decoration: none;
}

#green4 {
    background-color: #ff8d00;
    width: 175px;
    height: 175px;
}

#green4 a {
    color: #ffffcc;
    text-decoration: none;
}

#green5 {
    background-color: #ce7e00;
    width: 175px;
    height: 175px;
}

#green5 a {
    color: #ffffcc;
    text-decoration: none;
}

/*orange color scheme*/
#orange1 {
    background-color: #ff7400;
    width: 175px;
    height: 175px;
}

#orange1 a {
    color: #772f92;
    text-decoration: none;
}

#orange2 {
    background-color: #ff4d00;
    width: 175px;
    height: 175px;
}

#orange2 a {
    color: #772f92;
    text-decoration: none;
}

#orange3 {
    background-color: #ff85ab;
    width: 175px;
    height: 175px;
}

#orange3 a {
    color: #772f92;
    text-decoration: none;
}

#orange4 {
    background-color: #ffb8f7;
    width: 175px;
    height: 175px;
}

#orange4 a {
    color: #772f92;
    text-decoration: none;
}

#orange5 {
    background-color: #772f92;
    width: 175px;
    height: 175px;
}

#orange5 a {
    color: #ff85ab;
    text-decoration: none;
}

/*purple color scheme*/
#purple1 {
    background-color: #8e83b5;
    width: 175px;
    height: 175px;
}

#purple1 a {
    color: #fdd5bb;
    text-decoration: none;
}

#purple2 {
    background-color: #512e99;
    width: 175px;
    height: 175px;
}

#purple2 a {
    color: #fdd5bb;
    text-decoration: none;
}

#purple3 {
    background-color: #6281c4;
    width: 175px;
    height: 175px;
}

#purple3 a {
    color: #fdd5bb;
    text-decoration: none;
}

#purple4 {
    background-color: #1d1d51;
    width: 175px;
    height: 175px;
}

#purple4 a {
    color: #fdd5bb;
    text-decoration: none;
}

#purple5 {
    background-color: #fdd5bb;
    width: 175px;
    height: 175px;
}

#purple5 a {
    color: #1d1d51;
    text-decoration: none;
}