html {
    background-color: lightcyan;
    color: teal;
    margin-left: 25%;
    margin-right: 25%;
}

.banner1 {
    color: teal;
    text-align: center;
}

.banner1 .name {
    font-size: 72px;
}

#logo {
    border-radius: 25%;
}

h2 {
    font-size: 48px;
    text-align: center;
}

/*Red  color scheme*/
.scheme {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
}

#red-scheme {
    color: #7c100e;
}

#red1 {
    background-color: #05f0f0;
    color: #7c100e;
}

#red2 {
    background-color: #04bebe;
    color: #7c100e;
}

#red3 {
    background-color: #EEF1Da;
    color: #7c100e;
}

#red4 {
    background-color: #a70101;
    color: #05f0f0;
}

#red5 {
    background-color: #7c100e;
    color: #05f0f0;
}

#blue1{
    background-color: #19381f;
    color: #c0e0de;
}

#blue2{
    background-color: #c3e991;
    color: #994636;
}

#blue3 {
    background-color: #994636;
    color: #c0e0de;
}

#blue4{
    background-color: #c0e0de;
    color: #994636;
}

#blue5{
    background-color: #261ed2;
    color: #c0e0de;
}

